.center {
  text-align: center;
}

.left-statement-container {
  padding: 4px;
  background-color: #26aae1;
  color: white;
}
.right-statement-container {
  padding: 1px;
  color: #26aae1;
}
.about {
  margin-bottom: 20px;
}
.flex {
  display: flex;
}

.proven {
  background-color: #f7f7f9;
  margin-bottom: 0;
}
p {
  padding: 4px;
  margin: 4px;
}
