.footer {
  background-color: #15365d;
  color: white;
  text-align: center;
}

.a-fix {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1050px) {
  .footer-text-flex {
    font-size: 18px;
  }
}
/* phone */
@media screen and (max-width: 767px) {
  .phone-hide {
    display: none;
  }
  .phone-show {
    display: block;
  }
}
/* not phone */
@media screen and (min-width: 768px) {
  .phone-show {
    display: none;
  }
  .phone-hide {
    display: block;
  }
}
